<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="HOME_LOG" value="logs/mcheads.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <totalSizeCap>500MB</totalSizeCap>

            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date [%thread] %logger{10} [%file:%line] [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %logger{10} [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="production" level="debug">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
</configuration>